@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.main-container{
  background-image:url("../assets/images/hero_background5.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media (max-width: 799px){
  .main-container{
    background-image: none;
  }
}

.showcase-area {
  padding: 2.5rem 0;
  max-width: 1200px;
  margin: 0 auto;
  
}

@media (max-width: 999px){
  .showcase-area {
    padding: 0;
  }
}

.showcase-area .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.left{
  margin:0px;
}

@media (max-width: 1250px){
  .left{
    position: relative;
    left: 10%;
  }
}


@media (max-width: 999px){
  .left{
    margin:37px;
  }
  
}

@media (max-width: 599px){
  .showcase-area .container{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.big-title h1{
  font-size: 50px;
  margin:0;
}


.container span {
  font-family: 'Kaushan Script', cursive;
  animation: glow .6s infinite alternate;
  color:#00a0d2;
 }
 
 @keyframes glow {
  to {
      text-shadow: 0 0 10px #4ebeff;
  }
}
.confirm_selection {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
}


.text {
  font-size: 0.95rem;
  margin: 1.4rem 0 1.5rem;
  font-weight: 700;
  color:#242424;
}

.person {
  width: 100%;
  transform: none;
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }
}


input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s;
}


@media screen and (max-width: 470px) {
  input{
    font-size: 15px;
    transition: .5s;
  }
}

.input-address{
  background: #fff;
  width: 270px;
  height:50px;
  border: 1px solid #5bacdf;
  outline:none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

@media screen and (max-width: 470px) {
  .input-address {
    border-radius: 25px 25px 25px 25px;
    width:215px;
  }
}


@media screen and (max-width: 470px) {
  .input-address {
    border-radius: 25px 25px 25px 25px;
    width:215px;
  }
}


.submit-btn{
  position: relative;
  width:150px;
  height:50px;
  border: 1px solid #5bacdf;
  outline: none;
  cursor:pointer;
  left:-5px;
  background: #5bacdf;
}


@media screen and (max-width: 1160px) {
  .submit-btn {
    width:135px;
    display: block;
  }
}


@media screen and (max-width: 470px) {
  .submit-btn {
    border-radius: 25px 0px 0px 25px;
  }
}

.submit-btn:hover {
  background-color: #000;
  transform: scale(1);
  color:#fff;
  border: 1px solid #000;
}


.reset-btn{
  position: relative;
  color:#fff;
  border-radius: 0 25px 25px 0;
  width:150px;
  height:50px;
  border: 1px solid #5bacdf;
  outline: none;
  cursor:pointer;
  left:-10px;
  background: #533e99;
}

@media screen and (max-width: 1160px) {
  .reset-btn {
    width:135px;
    display: block;
  }
}

@media screen and (max-width: 470px) {
  .reset-btn {
    border-radius: 0px 25px 25px 0px;
  }
}
.reset-btn:hover {
  background-color: #000;
  transform: scale(1);
  color:#fff;
  border: 1px solid #000;
}


.offer-container {
  padding-top: 2rem;
  flex-wrap: wrap;
}

.offer-container {
  padding-top: 2rem;
  flex-wrap: wrap;
}

.offer {
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #aaa8a833, 0 6px 20px 0 #c9bbbb30;
  margin: 1rem;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

.offer:hover {
  box-shadow: 0 5px 10px 0 #aaa8a8cc, 0 12px 30px 0 #c9bbbbe6;
}

.offer-name {
  font-size: 2rem;
  line-height: 35px;
}


.offer-description {
  font-family: "Dekko", cursive;
  font-size: 0.9rem;
  font-style: italic;
  color: grey;
}


.offer-name,
.offer-description {
  margin-bottom: 1rem;
}

.offer-price {
  font-size: 30px;
  color: #5bacdf;
}
      
.fa-euro-sign {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #5bacdf;
}
    
.active-offer {
  border: 2px solid #5bacdf;
}

.offer-button {
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
}